flows2.json
[
    {
        "id": "8121bc2b8d851e97",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e81c12381086977",
        "type": "inject",
        "z": "8121bc2b8d851e97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "f8fae0c588e8a77e"
            ]
        ]
    },
    {
        "id": "f8fae0c588e8a77e",
        "type": "function",
        "z": "8121bc2b8d851e97",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "a9ab393d0be5ac12"
            ]
        ]
    },
    {
        "id": "a9ab393d0be5ac12",
        "type": "debug",
        "z": "8121bc2b8d851e97",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    }
]